img#logo {
    height: 120px;
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: #46a;
    font-weight: bold;
}
a:hover {
    color: #68c;
}
header {
    padding: 0;
    margin: 0;
    width: 100%;
    background: #236;
    background: linear-gradient(343deg, #236 0%, #236 37%, rgba(30,121,152,1) 87%, rgba(29,164,192,1) 100%);
    position: fixed;
    padding: 32px;
    height: 184px;
    box-sizing: border-box;
    transition: 0.2s;
    z-index: 1;
    box-shadow: 0px -6px 18px black;
}
header img {
    transition: 0.2s;
}
button#nav-hamburger {
    float: right;
    height: 60px;
    border-style: none;
    background: none;
    margin: 0;
    margin-top: 32px;
    padding: 0;
    cursor: pointer;
    transition: 0.2s;
}
button#nav-hamburger:hover div {
    background: #68c;
}
div#nav-hamburger-2 {
    margin-top: 12px;
    margin-bottom: 12px;
}
button#nav-hamburger div {
    width: 60px;
    background: white;
    height: 6px;
    display: block;
    border-radius: 3px;
    transition: 0.2s;
}
button.selected div#nav-hamburger-1 {
    transform: translate(0, 18px) rotate(45deg);
}
button.selected div#nav-hamburger-2 {
    width: 0;
    margin-right: 30px;
    margin-left: 30px;
}
button.selected div#nav-hamburger-3 {
    transform: translate(0, -18px) rotate(-45deg);
}
nav {
    float: right;
    display: block;
    position: fixed;
    right: -250px;
    top: 136px;
    z-index: 1;
    padding: 32px;
    padding-top: 16px;
    transition: 0.2s;
    background: #236;
    color: white;
    border-bottom-left-radius: 32px;
    font-size: 18px;
}
nav ul {
    list-style: none;
    margin: 0;
    text-align: right;
}
nav li {
    margin-top: 12px;
    margin-bottm: 12px;
}
nav a {
    color: white;
}
div#hero {
    width: 100%;
    height: 320px;
    margin: 0;
    padding: 0;
    top: 184px;
    position: relative;
    overflow: hidden;
}
div#hero img {
    width: 100%;
    position: absolute;
    transition: 0.2s;
}
div#hero img#hero-image-1 {
    left: 0;
}
div#hero img#hero-image-2 {
    left: 100%;
}
div#hero img#hero-image-3 {
    left: 200%;
}
div#hero img#hero-image-4 {
    left: 300%;
}
div#hero img#hero-image-5 {
    left: 400%;
}
div#hero div#copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 16px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 12px black;
}
div#hero-navigation {
    height: 16px;
    padding: 32px 0px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, black, transparent);
}
div#hero-navigation-inner {
    margin: auto;
    width: fit-content;
}
div.hero-navigation-button {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin: 6px;
    transition: 0.2s;
}
div.hero-navigation-button:hover {
    background: rgba(255, 255, 255, 0.75);
}
div.hero-navigation-button.selected {
    background: white;
}
main {
   padding: 32px 0px;
   position: relative;
   top: 184px;
   width: 80%;
   margin: auto;
   box-sizing: border-box;
}
h1 {
   color: #fff;
   font-size: 32px;
   margin: 0;
}
h2 {
   color: #466199;
   font-size: 24px;
}
p {
   color: #222;
   font-size: 16px;
}
s {
   color: #f52;
}
table {
   border-collapse:collapse;
   box-shadow: 0px 0px 10px rgb(0 0 0 / 40%);
}
thead tr {
   color: white;
   background: #466199;
}
th, td {
   padding: 8px;
}
tr {
   text-align: left;
   vertical-align: top;
}
tr:nth-child(even) {
   background: rgba(0,0,0,0.1);
}
table div.overflow {
   max-height: 80px;
   overflow-y: auto;
}
