img#logo {
    height: 120px;
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}
header {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #236;
    position: fixed;
    padding: 32px;
    height: 184px;
    box-sizing: border-box;
    transition: 0.2s;
}
header img {
    transition: 0.2s;
}
nav {
    float: right;
    margin-right: 32px;
}
main {
   padding: 32px;
   position: absolute;
   top: 164px;
   width: 100%;
   box-sizing: border-box;
}
h1 {
   color: #fff;
   font-size: 32px;
   margin: 0;
}
h2 {
   color: #466199;
   font-size: 24px;
}
p {
   color: #222;
   font-size: 16px;
}
s {
   color: #f52;
}
