img#logo {
    height: 120px;
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: #46a;
    font-weight: bold;
}
a:hover {
    color: #68c;
}
header {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #236;
    position: fixed;
    padding: 32px;
    height: 184px;
    box-sizing: border-box;
    transition: 0.2s;
    z-index: 1;
}
header img {
    transition: 0.2s;
}
button#nav-hamburger {
    float: right;
    height: 60px;
    border-style: none;
    background: none;
    margin: 0;
    margin-top: 32px;
    padding: 0;
    cursor: pointer;
    transition: 0.2s;
}
button#nav-hamburger:hover div {
    background: #68c;
}
div#nav-hamburger-2 {
    margin-top: 12px;
    margin-bottom: 12px;
}
button#nav-hamburger div {
    width: 60px;
    background: white;
    height: 6px;
    display: block;
    border-radius: 3px;
    transition: 0.2s;
}
button.selected div#nav-hamburger-1 {
    transform: translate(0, 18px) rotate(45deg);
}
button.selected div#nav-hamburger-2 {
    width: 0;
    margin-right: 30px;
    margin-left: 30px;
}
button.selected div#nav-hamburger-3 {
    transform: translate(0, -18px) rotate(-45deg);
}
nav {
    float: right;
    display: block;
    position: fixed;
    right: -250px;
    top: 104px;
    z-index: 1;
    padding: 32px;
    padding-top: 16px;
    transition: 0.2s;
    background: #236;
    color: white;
    border-bottom-left-radius: 32px;
}
nav ul {
    list-style: none;
    margin: 0;
    text-align: right;
}
nav li {
    margin-top: 6px;
    margin-bottm: 6px;
}
nav a {
    color: white;
}
main {
   padding: 32px;
   position: absolute;
   top: 164px;
   width: 100%;
   box-sizing: border-box;
}
h1 {
   color: #fff;
   font-size: 32px;
   margin: 0;
}
h2 {
   color: #466199;
   font-size: 24px;
}
p {
   color: #222;
   font-size: 16px;
}
s {
   color: #f52;
}
